.celebrities{
    width: 80%;
    height: 350px;
    margin: 0 auto;
}

.celebrities .title-cel  {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    margin-bottom: 20PX;
}

.celebrities .title-cel h2{
    color: white;
    font-family: imdbfont;
    font-size: 22px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

.celebrities .title-cel span{
    color: rgb(245,197,24);
    font-family: imdbfont;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
}

.celebrities .celebrity .swiper-slide img{
    width: 100%;
    border-radius: 50%;
}

.celebrities .celebrity .actors-info{
    display: flex ;
    flex-flow: column wrap;
}

.celebrity span:nth-of-type(1){
    font-family: imdbfont;
    color: rgb(148, 148, 148);
    font-weight: 400;
    font-size: 14px;
}

.celebrity span:nth-of-type(2){
    font-family: imdbfont;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
}

.celebrity .swiper-slide{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 300ms;
}

.celebrity .swiper-slide:hover{
    opacity: 0.8;
}
